/* @group Prettify */
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1526B8; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
    padding: 10px !important;
    margin: 20px 0px !important;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #D9D9D9 !important;
}

.prettyprint.linenums {
}

ul{
    list-style-type:none;
    margin: 10px 0px;
    padding: 0px;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0px;
  padding: 0px;
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}
li.L0, li.L1, li.L2, li.L3,li.L4,
li.L5, li.L6, li.L7, li.L8{
    background-color : transparent;
    list-style-type : none;
}
/* @end group Prettify */

body{
    padding: 0px;
    margin: 0px;
    font-family : "Helvetica";
}

a:link {
    color: #043848;
    text-decoration: none;
    font-weight:500;
}
a:visited {
    color: #043848;
    text-decoration: none;
    font-weight:500;
}
a:hover {
    color: #1088ac;
    text-decoration: none;
    font-weight:500;
}
a:active {
    color: #043848;
    text-decoration: none;
    font-weight:500;

}

a, pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

*{
    box-sizing: border-box;
}

#frames {
    max-width: 700px;
    width:100%;
}
.codepen-iframe {
    width:100%;
}
.code-inline{
    background-color : #eee;
    padding: 2px;
    margin : 1px;
}
#main-header{
    display : flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 20px;
    flex-direction: column;
    -webkit-flex-direction: column;
}
#main-header-text{
    color : #444;
    text-align:center;
}

.row {
    margin: 0px 0px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    border-bottom: 1px solid #e9edf1;
}

.row-header{
    text-align:center;
    font-size: 2em;
    font-weight: 500;
    margin-top: 40px;
    color: #043848
}

#row-1{
    background-color : #043848;
    height: 750px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    text-align:center;
    padding: 70px;

}
#row-2{
    background-color : white;
    width: 100%;
    padding: 20px;
}
#row-3{
    color:#505050;
    background-color : #F4F4F4;
    width: 100%;
    padding: 20px;
    text-align:center;
}

#row-4{
    background-color : #7DA636;
    width: 100%;
    padding: 40px 0px;
}

.tab-description{
    padding-top: 5px;
    font-weight: 100;
    max-height: 0px;
    overflow: hidden;
    transition-property : max-height;
    transition-duration: 300ms;
}
.tab-description.selected{
    max-height: 300px;
    transition-property : max-height;
    transition-duration: 1000ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
._tab.selected:after{
    content : "";
    position: absolute;
    top: 50%;
    right: -10px;
    z-index: 1000;
    border-top : 10px solid transparent;
    border-bottom:10px solid transparent;
    border-left: 10px solid #939598;
    margin-left: -8px;
}

#tabs-container{
    display : flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 600px;
    width: 200px;
}
.tab {
    display: flex;
    display: -webkit-flex;
    flex-grow: 1;
    font-size: 1.2em;
    border-bottom: 1px solid white;
    text-align:center;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    color : white;
    background-color: #b9babb;
    cursor: pointer;
    padding: 10px;
}
.tab.selected{
    background-color: #939598;
    padding-top:10px;
    transition-property : height, background-color;
    transition-duration: 700ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.code-block {
    background-color : #fff;
    height: 180px;
}
.code-block > header{
    background-color : #00BAF0;
    height: 30px;
    color : white;
    padding: 5px;
}

.three-up{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-wrap: wrap;
    padding : 10px;
    line-height: 1.4em;
}
.three-up-item{
    width: 300px;
    height: 400px;
    margin: 10px;
    text-align: center;
    padding: 10px 10px;
    font-size: 1em;
    background-color : white;
    color : #505050;
    font-weight: 200;
}

.three-up-title{
    margin-top:10px;
    color :#043848;
    font-weight: 500;
}

.three-up-item > header{
    font-size: 1.4em;
    font-weight: normal;
    margin: 20px 0px;
}

.usage-text{
    font-size: 1.2em;
    margin: 10px;
    font-weight: 500;
}

.big-button{
    margin : 10px;
    cursor: pointer;
    padding: 15px;
    min-width: 300px;
    border-radius: 5px;
    border: 0px;
    font-size: 1.1em;
    background-color : #587425;
    color : #FFFFFF;
}

.big-button:hover{
    background-color : #4c6520;
}
