/* @group Prettify */
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
    padding: 10px !important;
    margin: 0px !important;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e1e1e8;
}

.prettyprint.linenums {
}

ul{
    list-style-type:none;
    margin: 10px 0px;
    padding: 0px;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0px;
  padding: 0px;
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}
li.L0, li.L1, li.L2, li.L3,li.L4,
li.L5, li.L6, li.L7, li.L8{
    background-color : transparent;
    list-style-type : none;
}
/* @end group Prettify */

body{
    padding: 0px;
    margin: 0px;
    font-family : "Helvetica";
    font-weight: 200;
}

a:link {
    color: #00BAF0;
    text-decoration: none;
}
a:visited {
    color: #00BAF0;
    text-decoration: none;
}
a:hover {
    color: #26ceff;
    text-decoration: none;
}
a:active {
    color: #00BAF0;
    text-decoration: none;
}

a, pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

*{
    box-sizing: border-box;
}

.codepen-iframe {
    max-width: 700px;
}
.code-inline{
    background-color : #eee;
    padding: 2px;
    margin : 1px;
}
#main-header{
    display : flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
}
#main-header-text{
    color : #444;
    text-align:center;
}

.row {
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
    border: 1px solid #e9edf1;

}

#row-1{
    background-color : #9A9A9A;
    height: 640px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align:center;
    padding: 20px;

}
#row-2{
    background-color : white;
    width: 100%;
    padding: 20px;
}
#row-3{
    color:white;
    background-color : #40454C;
    width: 100%;
    padding: 20px;
    text-align:center;
}

#row-4{
    background-color : white;
    width: 100%;
    padding: 20px;
}

.tab-description{
    padding-top: 5px;
    font-weight: 100;
    max-height: 0px;
    overflow: hidden;
    transition-property : max-height;
    transition-duration: 300ms;
}
.tab-description.selected{
    max-height: 300px;
    transition-property : max-height;
    transition-duration: 1000ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

#tabs-container{
    display : flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 600px;
    width: 200px;
}
.tab {
    display: flex;
    flex-grow: 1;
    font-size: 1.2em;
    border-bottom: 1px solid white;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    color : white;
    background-color: #00BAF0;
    cursor: pointer;
    padding: 10px;
}
.tab.selected{
    background-color: #00384A;
    padding-top:10px;
    transition-property : height, background-color;
    transition-duration: 700ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.code-block {
    background-color : #fff;
    height: 180px;
}
.code-block > header{
    background-color : #00BAF0;
    height: 30px;
    color : white;
    padding: 5px;
}

.three-up{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding : 10px;
}
.three-up-item{
    width: 300px;
    height: 400px;
    margin: 10px;
    text-align: center;
    padding: 10px 10px;
    font-size: 1em;
    background-color : white;
}

.three-up-item > header{
    font-size: 1.4em;
    font-weight: normal;
    margin: 20px 0px;
}
